*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgba(179, 196, 27, 0.808);
    text-align: center;
    align-items: center;
}
.container{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    text-align: center;
    font-size: 10vmin;
    color: red;
    border-radius: 2vmin;
    border: none;
    box-shadow: 3px 3px 3px 0.1vmin black;
}
#resetbtn{
    padding: 2vmin;
    font-size: 3vmin;
    color: white;
    background-color: rgb(31, 48, 4);
    border-radius: 2vmin;
    border: none;
    box-shadow: 3px 3px 3px 0.1vmin black;
}